<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div id="home-page">
            <header id="header" class="header-wrapper home-parallax home-fade">
                <div class="header-overlay"></div>
                <div class="header-wrapper-inner">
                    <div class="container">
                        <div class="welcome-speech">
                            {% if oidc.user_loggedin %}
                                <h1>Welcome {{ oidc.user_getfield('email') }}</h1>
                                <p>Everything you need to have in order to build a stunning website</p>
                                <a href="{{ url_for('logout') }}" class="btn btn-white">
                                    Logout
                                </a>
                            {% else %}
                                <h1>Not logged in.</h1>
                                <a href="{{ url_for('login') }}" class="btn btn-white" title="Click here to log in">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>